.logo {
  display: flex;
  justify-content: center;
}
.navbar-nav > li {
  position: relative;
  float: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 24px 19px 0;
}
.navbar-nav > li a {
  color: #FFF;
}
nav {
  display: flex;
  justify-content: center;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 26px 0 0;
  z-index: 999;
}
