<div class="container">
  <h3 class="red"> Explore our services</h3>
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                <div class="card-body">
                  <h4 class="card-title">Hair</h4>
                  <p class="card-text">Blowout - Updo - Braids</p>
                </div>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                <div class="card-body">
                  <h4 class="card-title">Hair</h4>
                  <p class="card-text">Blowout - Updo - Braids</p>
                </div>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                <div class="card-body">
                  <h4 class="card-title">Hair</h4>
                  <p class="card-text">Blowout - Updo - Braids</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                <div class="card-body">
                  <h4 class="card-title">Hair</h4>
                  <p class="card-text">Blowout - Updo - Braids</p>
                </div>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                <div class="card-body">
                  <h4 class="card-title">Hair</h4>
                  <p class="card-text">Blowout - Updo - Braids</p>
                </div>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                <div class="card-body">
                  <h4 class="card-title">Hair</h4>
                  <p class="card-text">Blowout - Updo - Braids</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                <div class="card-body">
                  <h4 class="card-title">Hair</h4>
                  <p class="card-text">Blowout - Updo - Braids</p>
                </div>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                <div class="card-body">
                  <h4 class="card-title">Hair</h4>
                  <p class="card-text">Blowout - Updo - Braids</p>
                </div>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                <div class="card-body">
                  <h4 class="card-title">Hair</h4>
                  <p class="card-text">Blowout - Updo - Braids</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>
    </div>
  </div>
</div>



<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
  </ol>

  <!-- Carousel items -->
  <div id="bg1" class="carousel-inner">
    <div class="item active">
      <div class="slide-content">
        <video poster="http://192.241.175.50/videos/london.jpg" webkit-playsinline id="bgvid" loop>
          <source src="http://192.241.175.50/videos/london.webm" type="video/webm">
          <source src="http://192.241.175.50/videos/london.mp4" type="video/mp4">
        </video>
        <div class="slide-overlay door">
          <div class='title'>Slide 1</div>
          <div class="description"> The First Description </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="slide-content">
        <video poster="http://192.241.175.50/videos/boston.jpg" webkit-playsinline id="bgvid" loop>
          <source src="http://192.241.175.50/videos/boston.webm" type="video/webm">
          <source src="http://192.241.175.50/videos/boston.mp4" type="video/mp4">
        </video>
        <div class="slide-overlay door">
          <div class='title'> Slide 2 </div>
          <div class="description"> The Second Description </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="slide-content">
        <video poster="http://192.241.175.50/videos/split.jpg" webkit-playsinline id="bgvid" loop>
          <source src="http://192.241.175.50/videos/split.webm" type="video/webm">
          <source src="http://192.241.175.50/videos/split.mp4" type="video/mp4">
        </video>
        <div class="slide-overlay door">
          <div class='title'>Slide 3</div>
          <div class="description"> #AnotherOne #AndAnotherOne</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="slide-content">
        <video poster="http://192.241.175.50/videos/samo.jpg" webkit-playsinline id="bgvid" loop>
          <source src="http://192.241.175.50/videos/samo.webm" type="video/webm">
          <source src="http://192.241.175.50/videos/samo.mp4" type="video/mp4">
        </video>
        <div class="slide-overlay door">
          <div class='title'>Slide 4</div>
          <div class="description"> #PapaBlessUp </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control left" href="#carousel" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
  </a>

  <a class="carousel-control right" href="#carousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>


<h3 class="red"> HOW IT WORKS</h3>

<div class="row">
<div class="col-6 mx-auto">
<div class="text-center mb-4">
<img src="/assets/images/title _line_category_1@1x.png" alt="Responsive image">
</div>
</div>
</div>
<br><br><br><br>
<div class="container">
<div class="row text-center">
<div class="col-md-4">
  <div class="thumbnail">
    <a href="/w3images/lights.jpg" target="_blank">
      <img src="/assets/images/ic_booking@1x.png" alt="Lights" >
      <div class="caption">
      </div>
    </a>
    <br>
    <h5>Booking</h5>
    <p class="para5">Choose your service and fill <br> your availabilities and your location.</p>
  </div>
</div>
<div class="col-md-4">
  <div class="thumbnail">
    <a href="/w3images/nature.jpg" target="_blank">
      <img src="/assets/images/ic_payment@1x.png" alt="Nature" >
      <div class="caption">
      </div>
    </a>
    <br>
    <h5>Payement</h5>
    <p class="para5">Set your payement link to confirm your <br>appointement.
      <br>Payement is 100% online via <br> a secure platform. </p>
  </div>
</div>
<div class="col-md-4">
  <div class="thumbnail">
    <a href="/w3images/fjords.jpg" target="_blank">
      <img src="/assets/images/ic_meeting@1x.png" alt="Fjords" >
      <div class="caption">

      </div>
    </a>
    <br>
    <h5>Meeting</h5>
   <p class="para5">The appointement, a moment for you, <br>
      with a passionate expert and <br> listening to your desires. </p>
  </div>
</div>
</div>
</div>
<br><br><br><br><br>
<div class="row">
<div class="col-6 mx-auto">
  <div class="text-center">
      <button type="button" class="bouton2">I RESERVE</button>
  </div>
</div>
</div>
<br><br>
    <!--Interface 5 -->


    <div class="col style para3" >
     <h3 class="red">  WE ARE CLOSE TO YOU ON  </h3>
</div>

<div class="col-6 mx-auto">
<div class="text-center mb-4">
 <img src="/assets/images/title _line_category_1@1x.png" alt="Responsive image">
</div>
</div>

<br><br>

<div class="row flex_row">
<div class="col-md-6">
<div class="img-fluid">
 <img src="/assets/images/mobile_phones@1x.png" width="100%">
</div>
</div>
<div class="col-md-6">
<div class="row text-center ">
 <p class="para5 text-center margin5">Polish hurry and technophile...Three,two,one...Fire
 <br>Our app is available on your smartphones! You can also make an appointement on your mobiles
 <br>site.
 </p>
 </div>
 <div class="row text-center ">
     <div class="col-md-6">
         <div class="thumbnail">
             <a href="/w3images/lights.jpg" target="_blank">
               <img src="/assets/images/ic_available_app_store_norml@1x.png">
             </a>
</div>
</div>
 <div class="col-md-6" >
 <div class="thumbnail">
             <a href="/w3images/lights.jpg" target="_blank">
               <img src="/assets/images/ic_available_google_play_normal@1x.png">
             </a>
</div>
</div>
</div>
         <br>
         <div class="row">
             <div class="col-6 mx-auto">
               <div class="text-center">
                   <button type="button" class="bouton2">EXPLORE IT</button>
               </div>
             </div>
           </div>
   </div>
 </div>


 <section id="section6">
  <div class=" cf bg2">
   <div class="col style text para6">
    SUBSCRIBE TO OUR NEWSLETTER
</div>
<br>
<div class="col style text para2">
    Stay informed about us, news and events.
</div>

<div class="col-8 mx-auto">
<div class="input-group input-group-lg margin6" >

<input type="text" placeholder ="Enter your e-mail address"class="form-control text-center" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
<div class="bouton3">
<span  id="inputGroup-sizing-lg">Send</span>
</div>
</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
<div class="container stylenav1">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
Menu
<i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse margin7" id="navbarResponsive">
<ul class="navbar-nav ml-auto">

<li class="nav-item listyle">
<a class="nav-link " href="#projects" style="color:antiquewhite">OUR SERVICES</a>
</li>
<li class="nav-item listyle">
<a class="nav-link " href="#section1" style="color:antiquewhite">OFFER</a>
</li>
<li class="nav-item listyle">
<a class="nav-link " href="#signup" style="color:antiquewhite">MY ACCOUNT</a>
</li>
<li class="nav-item listyle">
<a class="nav-link " href="#signup" style="color:antiquewhite">PRO</a>
</li>
<li class="nav-item listyle">
<a class="nav-link " href="#signup" style="color:antiquewhite">CONTACT US</a>
</li>

</ul>
</div>
</div>
</nav>

<div class="container text-center margin8">
<div class="row ">
<div class="col-8 mx-auto">
<div class="thumbnail">
 <a href="/w3images/lights.jpg" target="_blank">
   <img src="/assets/images/ic_facebook@2x.png" class="padR">
           </a>
 <a href="/w3images/nature.jpg" target="_blank">
   <img src="/assets/images/ic_twitter@2x.png" class="padR">
 </a>
 <a href="/w3images/fjords.jpg" target="_blank">
   <img src="/assets/images/ic_youtube@2x.png" >
 </a>
</div>
</div>
</div>
</div>

</div>
</section>
