<div class="slider">
  <img class="main-img" src="/assets/images/slider_image.png" >
  <div class="caption">
      <div class="title">
              pamer yourself pretty
      </div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare pellentesque turpis, placerat vestibulum leo posuere ac. Aenean sit amet ex diam. Donec id consequat neque. Duis placerat, lacus sed euismod
      <button class="btn btn-outline-success my-2 my-sm-0" type="">i reserve</button>
  </div>
  <div class="row">
  <div class="col-6 mx-auto">
    <div class="text-center">
    <img  src="/assets/images/ic_scroll@1x.png" class="scrol">
  </div>
</div>
</div>

</div>
